* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 100%;
  font-family: "Raleway", sans-serif; }

article {
  background-color: #ECECEC; }

h1 {
  font-size: 1.75rem;
  font-family: "Raleway", sans-serif; }

img {
  max-width: 100%; }

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  background-color: #ECECEC; }
  .search-container .search-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.5rem 6rem 0.5rem 0; }
    .search-container .search-box form {
      border-radius: 5px; }

.search-box input[type=text] {
  font-family: "Lato", sans-serif;
  font-color: darkgrey;
  font-size: 0.85rem;
  border: none;
  padding: 0.25rem;
  border-radius: 8px; }

.fa-search {
  color: darkgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%; }
  .logo-container .logo {
    margin: 0.30rem 0;
    padding: 0.75rem 0; }

nav {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row-wrap;
          flex-flow: row-wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 4rem 0 3.25rem; }

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  nav ul li {
    padding: 1.5rem;
    text-align: center;
    list-style-type: none; }
    nav ul li a {
      text-decoration: none;
      color: #062a5c;
      font-family: "Lato", sans-serif;
      font-weight: bold;
      letter-spacing: 0.75px; }
      nav ul li a:hover {
        color: #75a2d8; }

@media screen and (max-width: 690px) {
  nav, nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .logo {
    width: 100%; } }
.hero-image {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-image: url("../images/solar.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .hero-image .hero-overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 30vh;
    background-color: #062a5c;
    opacity: 0.90; }
    .hero-image .hero-overlay .hero-text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column;
      margin: 0 4rem; }
      .hero-image .hero-overlay .hero-text h1 {
        margin-top: 0.75rem;
        padding-bottom: 1.25rem;
        color: #FFFFFF; }
      .hero-image .hero-overlay .hero-text h2 {
        color: #75a2d8;
        font-size: 1.25rem;
        font-weight: bolder;
        font-style: italic;
        letter-spacing: 1px; }
      .hero-image .hero-overlay .hero-text p {
        color: #ECECEC;
        font-size: 0.92rem;
        line-height: 20px;
        padding-top: 0.5rem;
        letter-spacing: 0.5px; }

@media screen and (max-width: 690px) {
  .hero-image {
    height: 90vh; }
    .hero-image .hero-overlay {
      height: auto; }
      .hero-image .hero-overlay .hero-text {
        margin: 1rem 1.65rem; }
        .hero-image .hero-overlay .hero-text h1 {
          font-size: 1.5rem; }
        .hero-image .hero-overlay .hero-text h2 {
          font-size: 1rem; }
        .hero-image .hero-overlay .hero-text p {
          font-size: 0.85rem; } }
.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3rem 4rem; }

.card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0.5rem;
  margin: 0.75rem;
  background-color: #FFFFFF; }
  .card:hover {
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }
  .card a {
    color: #062a5c;
    font-size: 1.15rem;
    font-weight: bolder;
    letter-spacing: 1px;
    text-decoration: none;
    font-display: "Raleway", sans-serif; }
    .card a:hover {
      color: #75a2d8; }
  .card h3 {
    text-align: center;
    padding: 0.5rem;
    font-weight: bolder;
    color: #062a5c; }
  .card p {
    color: #062a5c;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.95rem; }
  .card img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

@media screen and (max-width: 690px) {
  .card-container {
    margin: 1rem; }
    .card-container .card {
      -ms-flex-preferred-size: initial;
          flex-basis: initial; }
      .card-container .card img {
        width: 100%; } }
.news {
  background-color: #062a5c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .news .news-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    background-color: #062a5c;
    margin: 3rem 0; }
    .news .news-info h2 {
      color: #ECECEC;
      font-size: 1.5rem;
      font-weight: bolder;
      padding-left: 4rem;
      letter-spacing: 1px; }
    .news .news-info p {
      padding-left: 4rem;
      margin-top: 0.75rem;
      color: #FFFFFF;
      line-height: 18px; }
  .news .news-events {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    background-color: #062a5c;
    padding-left: 4rem;
    margin: 3rem 0; }
    .news .news-events h2 {
      color: #ECECEC;
      font-size: 1.5rem;
      font-weight: bolder;
      letter-spacing: 1px; }
    .news .news-events .events-container {
      width: 85%; }
      .news .news-events .events-container .date-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-color: #ECECEC;
        margin: 0.25rem 0 0.45rem 0; }
        .news .news-events .events-container .date-box:first-child {
          margin-top: 0.75rem; }
        .news .news-events .events-container .date-box .date {
          width: 15%;
          background-color: #75a2d8;
          color: #FFFFFF;
          font-size: 1rem;
          padding: 0.5rem; }
        .news .news-events .events-container .date-box p {
          font-size: 1rem;
          padding: 0.5rem 0 0.5rem 2rem; }

.mission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ECECEC;
  padding: 2rem 0; }
  .mission .video {
    margin: 2rem 0.5rem 2rem 4rem; }
  .mission article {
    padding: .5rem 0;
    margin: 1rem 4rem 2rem 2rem; }
    .mission article h2 {
      color: #062a5c;
      font-size: 1.5rem;
      font-weight: bolder;
      letter-spacing: 1px; }
    .mission article .mission-main {
      margin-top: 0.75rem;
      color: #062a5c;
      font-size: 0.95rem;
      line-height: 18px;
      padding-bottom: 2px; }
    .mission article p {
      color: #062a5c;
      font-size: 0.85rem;
      line-height: 16px;
      padding: 3px 0; }
    .mission article .social-share {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-top: 0.5rem; }
      .mission article .social-share .fb-share-button {
        padding: 0 0.5rem 0 0; }

.newsletter-container {
  background-color: #062a5c;
  text-align: center;
  padding: 3rem 0; }
  .newsletter-container h2 {
    color: #FFFFFF;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    letter-spacing: 1px; }
  .newsletter-container .sign-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .newsletter-container .sign-up h3 {
      color: #75a2d8;
      font-size: 1rem;
      padding: 0.5rem 1rem 0.5rem 0.5rem; }

.newsletter-container input[type=email] {
  font-family: "Lato", sans-serif;
  color: darkgrey;
  font-size: 0.85rem;
  border: none;
  padding: 0.25rem 12rem 0.25rem 0.25rem; }

.submit-button {
  border: none;
  margin-left: -10px;
  background-color: #75a2d8;
  color: #ECECEC;
  padding: 0.30rem 2rem;
  font-size: 0.75rem;
  letter-spacing: 1px; }

footer {
  background-color: #FFFFFF; }
  footer .footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #FFFFFF;
    margin: 1rem 4rem; }
    footer .footer-top .find {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 1rem; }
      footer .footer-top .find h3 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        color: #062a5c;
        font-size: 1.25rem;
        font-weight: bolder;
        padding: 1rem 0 0.5rem 0; }
      footer .footer-top .find .find-bold {
        color: #75a2d8;
        font-weight: bolder;
        font-size: 0.85rem;
        padding: 0.25rem 0 0.25rem 0; }
      footer .footer-top .find p {
        color: #062a5c;
        font-weight: bolder;
        font-size: 0.95rem;
        line-height: 18px; }
    footer .footer-top .social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 1rem;
      width: 40%; }
      footer .footer-top .social h3 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        color: #062a5c;
        font-size: 1.25rem;
        font-weight: bolder;
        padding: 1rem 0 0.5rem 0; }
      footer .footer-top .social .social-icons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 0.25rem; }
        footer .footer-top .social .social-icons a {
          color: #062a5c;
          padding: 0.25rem; }
          footer .footer-top .social .social-icons a:hover {
            color: #75a2d8; }
    footer .footer-top .connect {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 1rem; }
      footer .footer-top .connect h3 {
        color: #062a5c;
        font-size: 1.25rem;
        font-weight: bolder;
        padding: 1rem 0 0.5rem 0; }
      footer .footer-top .connect .connect-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        footer .footer-top .connect .connect-info .connect-bold {
          color: #75a2d8;
          font-weight: bolder;
          font-size: 0.85rem;
          padding: 0.25rem 0 0.25rem 0; }
        footer .footer-top .connect .connect-info p {
          color: #062a5c;
          font-weight: bolder;
          font-size: 1rem;
          padding-bottom: 0.75rem; }

.copyright {
  background-color: #ECECEC;
  text-align: center;
  padding: 0.75rem; }
  .copyright p {
    font-size: 0.75rem;
    color: #062a5c; }

.industry-header {
  background-color: #062a5c;
  text-align: center;
  font-size: 1.5rem;
  color: #FFFFFF;
  letter-spacing: 1px;
  padding: 2rem 0; }

.industry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  .industry-grid .container {
    position: relative;
    width: 50%; }
    .industry-grid .container .overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #008CBA;
      overflow: hidden;
      width: 100%;
      height: 100%;
      -webkit-transform: scale(0);
      -webkit-transition: .3s ease;
      transition: .3s ease; }
    .industry-grid .container p {
      color: #FFFFFF;
      font-size: 1.25rem;
      letter-spacing: 1px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center; }

.container:hover .overlay {
  -webkit-transform: scale(1);
          transform: scale(1); }

.industry-text {
  color: #062a5c;
  font-size: 1rem;
  line-height: 20px;
  padding: 2rem 4rem 3rem 4rem; }

.contact-header {
  background-color: #062a5c;
  text-align: center;
  font-size: 1.5rem;
  color: #FFFFFF;
  letter-spacing: 1px;
  padding: 2rem 0; }

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #ECECEC;
  padding: 2rem 4rem 3rem 4rem; }
  .contact-container .contact-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 2rem 0; }
    .contact-container .contact-left h3 {
      color: #75a2d8;
      font-size: 1.25rem;
      font-weight: bolder;
      padding-bottom: 0.5rem;
      letter-spacing: 1px; }
    .contact-container .contact-left .contact-bold {
      color: #062a5c;
      font-size: 1rem;
      font-weight: bolder;
      line-height: 18px; }
    .contact-container .contact-left p {
      color: #062a5c;
      font-size: 0.95rem;
      line-height: 18px;
      padding-top: 3px; }
    .contact-container .contact-left address {
      color: #062a5c;
      font-size: 0.95rem;
      line-height: 22px;
      padding-bottom: 0.25rem; }
      .contact-container .contact-left address i {
        color: #75a2d8;
        padding-right: 5px; }
      .contact-container .contact-left address a {
        color: #062a5c;
        text-decoration: none; }
        .contact-container .contact-left address a:hover {
          color: #75a2d8; }
    .contact-container .contact-left img {
      width: 90%; }
  .contact-container .contact-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .contact-container .contact-right iframe {
      margin: 2rem 0; }

/*# sourceMappingURL=styles.css.map */