* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 100%;
  font-family: "Raleway", sans-serif; }

article {
  background-color: #ECECEC; }

h1 {
  font-size: 1.75rem;
  font-family: "Raleway", sans-serif; }

img {
  max-width: 100%; }

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  background-color: #ECECEC; }
  .search-container .search-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.5rem 6rem 0.5rem 0; }
    .search-container .search-box form {
      border-radius: 5px; }

.search-box input[type=text] {
  font-family: "Lato", sans-serif;
  font-color: darkgrey;
  font-size: 0.85rem;
  border: none;
  padding: 0.25rem;
  border-radius: 8px; }

.fa-search {
  color: darkgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%; }
  .logo-container .logo {
    margin: 0.30rem 0 0.30rem 3.25rem;
    padding: 0.75rem 0; }

nav {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row-wrap;
          flex-flow: row-wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  nav ul li {
    padding: 1.5rem;
    text-align: center;
    list-style-type: none; }
    nav ul li:last-child {
      margin-right: 4rem; }
    nav ul li a {
      text-decoration: none;
      color: #062a5c;
      font-family: "Lato", sans-serif;
      font-weight: bold;
      letter-spacing: 0.75px; }
      nav ul li a:hover {
        color: #75a2d8; }

.hero-image {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-image: url("../images/solar.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .hero-image .hero-overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 30vh;
    background-color: #062a5c;
    opacity: 0.90; }
    .hero-image .hero-overlay .hero-text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column; }
      .hero-image .hero-overlay .hero-text h1 {
        margin-top: 0.75rem;
        margin-left: 4rem;
        padding-bottom: 1.25rem;
        color: #FFFFFF; }
      .hero-image .hero-overlay .hero-text h2 {
        color: #75a2d8;
        font-size: 1.25rem;
        font-weight: bolder;
        padding-left: 4rem;
        font-style: italic;
        letter-spacing: 1px; }
      .hero-image .hero-overlay .hero-text p {
        color: #ECECEC;
        font-size: 0.92rem;
        line-height: 20px;
        margin: 0 4rem;
        padding-top: 0.5rem;
        letter-spacing: 0.5px; }

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3rem 4rem; }

.card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0.5rem;
  margin: 0.75rem;
  background-color: #FFFFFF; }
  .card:hover {
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }
  .card a {
    color: #062a5c;
    font-size: 1.15rem;
    font-weight: bolder;
    letter-spacing: 1px;
    text-decoration: none;
    font-display: "Raleway", sans-serif; }
    .card a:hover {
      color: #75a2d8; }
  .card h3 {
    text-align: center;
    padding: 0.5rem; }
  .card p {
    color: #062a5c;
    padding: 0.5rem;
    text-align: center; }
  .card img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.news {
  background-color: #062a5c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .news .news-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    background-color: #062a5c;
    margin: 3rem 0; }
    .news .news-info h2 {
      color: #ECECEC;
      font-size: 1.5rem;
      font-weight: bolder;
      padding-left: 4rem;
      letter-spacing: 1px; }
    .news .news-info p {
      padding-left: 4rem;
      margin-top: 0.75rem;
      color: #FFFFFF;
      line-height: 18px; }
  .news .news-events {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    background-color: #062a5c;
    padding-left: 4rem;
    margin: 3rem 0; }
    .news .news-events h2 {
      color: #ECECEC;
      font-size: 1.5rem;
      font-weight: bolder;
      letter-spacing: 1px; }
    .news .news-events .events-container {
      width: 85%; }
      .news .news-events .events-container .date-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-color: #ECECEC;
        margin: 0.25rem 0 0.45rem 0; }
        .news .news-events .events-container .date-box:first-child {
          margin-top: 0.75rem; }
        .news .news-events .events-container .date-box .date {
          width: 15%;
          background-color: #75a2d8;
          color: #FFFFFF;
          font-size: 1rem;
          padding: 0.5rem; }
        .news .news-events .events-container .date-box p {
          font-size: 1rem;
          padding: 0.5rem 0 0.5rem 2rem; }

.featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ECECEC;
  padding: 2rem 0; }
  .featured .video {
    margin: 2rem 0.5rem 2rem 4rem; }
  .featured article {
    padding: .5rem 0;
    margin: 2rem 4rem 2rem 2rem; }
    .featured article p {
      color: #062a5c; }
    .featured article .social-share {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-top: 0.5rem; }
      .featured article .social-share .fb-share-button {
        padding: 0 1rem 0 0; }

.newsletter-container {
  background-color: #062a5c;
  text-align: center;
  padding: 3rem 0; }
  .newsletter-container h2 {
    color: #FFFFFF;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    letter-spacing: 1px; }
  .newsletter-container .sign-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .newsletter-container .sign-up h3 {
      color: #75a2d8;
      font-size: 1rem;
      padding: 0.5rem; }

.newsletter-container input[type=email] {
  font-family: "Lato", sans-serif;
  font-color: darkgrey;
  font-size: 0.85rem;
  border: none;
  padding: 0.25rem 12rem 0.25rem 0.25rem; }

.submit-button {
  border: none;
  margin-left: -50px;
  color: #75a2d8;
  padding: 0.25rem 2rem; }

footer {
  background-color: #FFFFFF; }
  footer .footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row-wrap;
            flex-flow: row-wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #FFFFFF; }
    footer .footer-top .social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 1rem;
      margin: 0.5rem;
      width: 50%; }
      footer .footer-top .social h3 {
        color: #062a5c;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column;
                flex-flow: column; }
      footer .footer-top .social .social-icons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row-wrap;
                flex-flow: row-wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 0.25rem; }
    footer .footer-top .connect {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      footer .footer-top .connect h3 {
        color: #062a5c; }

.copyright {
  background-color: #ECECEC;
  text-align: center;
  padding: 0.75rem; }
  .copyright p {
    font-size: 0.75rem;
    color: #062a5c; }

/*# sourceMappingURL=styles.css.map */