// VARIABLES

$main-color: #062a5c;
$accent-color: #75a2d8;
$highlight-color: #ECECEC;
$no-color: #FFFFFF;
$main-font: 'Raleway', sans-serif;
$secondary-font: 'Lato', sans-serif;

// GLOBAL STYLES

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: $main-font;
}

article {
  background-color: $highlight-color;
}

h1 {
  font-size: 1.75rem;
  font-family: $main-font;
//  letter-spacing: 2px;
}

img {
  max-width: 100%;
}

// SEARCH BAR

.search-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: $highlight-color;
  .search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 6rem 0.5rem 0;
    form {
      border-radius: 5px;
    }
  }
}

.search-box input[type=text] {
  font-family: $secondary-font;
  font-color: darkgrey;
  font-size: 0.85rem;
  border: none;
  padding: 0.25rem;
  border-radius: 8px;
}

//TO DO: position inside search box
.fa-search {
//  position: absolute;
  color: darkgrey;
  display: flex;
  justify-content: flex-end;
}

// NAV BAR

.logo-container {
  display: flex;
  align-items: center;
  width: 75%;
  .logo {
    margin: 0.30rem 0 0.30rem 3.25rem;
    padding: 0.75rem 0;
  }
}

nav {
  width: auto;
  display: flex;
  flex-flow: row-wrap;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  li {
    padding: 1.5rem;
    text-align: center;
    list-style-type: none;
    &:last-child {
      margin-right: 4rem;
    }
    a {
      text-decoration: none;
      color: $main-color;
      font-family: $secondary-font;
      font-weight: bold;
      letter-spacing: 0.75px;
      &:hover {
        color: $accent-color;
      }
    }
  }
}

// HERO

.hero-image {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url("../images/solar.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .hero-overlay {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30vh;
    background-color: $main-color;
    opacity: 0.90;
    .hero-text {
      display: flex;
      flex-flow: column;
      h1 {
        margin-top: 0.75rem;
        margin-left: 4rem;
        padding-bottom: 1.25rem;
        color: $no-color;
      }
      h2 {
        color: $accent-color;
        font-size: 1.25rem;
        font-weight: bolder;
        padding-left: 4rem;
        font-style: italic;
        letter-spacing: 1px;
      }
      p {
        color: $highlight-color;
        font-size: 0.92rem;
        line-height: 20px;
        margin: 0 4rem;
        padding-top: 0.5rem;
        letter-spacing: 0.5px;
      }
    }
  }
}

// CARDS

.card-container {
  display: flex;
  flex-flow: wrap;
  align-items: stretch;
  justify-content: center;
  margin: 3rem 4rem;
}

.card {
  flex: 1;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
  padding: 0.5rem;
  margin: 0.75rem;
  background-color: $no-color;
  &:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  a {
    color: $main-color;
    font-size: 1.15rem;
    font-weight: bolder;
    letter-spacing: 1px;
    text-decoration: none;
    font-display: $main-font;
    &:hover {
      color: $accent-color;
    }
  }
  h3 {
    text-align: center;
    padding: 0.5rem;
    font-weight: bolder;
    color: $main-color;
  }
  p {
    color: $main-color;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.95rem;
  }
  img {
    justify-content: center;
  }
}

// NEWS SECTION

.news {
  background-color: $main-color;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  .news-info {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    background-color: $main-color;
    margin: 3rem 0;
    h2 {
      color: $highlight-color;
      font-size: 1.5rem;
      font-weight: bolder;
      padding-left: 4rem;
      letter-spacing: 1px;
    }
    p { 
      padding-left: 4rem;
      margin-top: 0.75rem;
      color: $no-color;
      line-height: 18px;
    }
  }
  .news-events {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    background-color: $main-color;
    padding-left: 4rem;
    margin: 3rem 0;
    h2 {
      color: $highlight-color;
      font-size: 1.5rem;
      font-weight: bolder;
      letter-spacing: 1px;
    }
    .events-container {
      width: 85%;
      .date-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: $highlight-color;
        margin: 0.25rem 0 0.45rem 0;
        &:first-child {
          margin-top: 0.75rem;
          }
        .date {
          width: 15%;
          background-color: $accent-color;
          color: $no-color;
          font-size: 1rem;
          padding: 0.5rem;
          }
        p {
          font-size: 1rem;
          padding: 0.5rem 0 0.5rem 2rem;
        }
      } 
    }
  }
}

// FEATURED SECTION & VIDEO

.featured {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $highlight-color;
  padding: 2rem 0;
  .video {
    margin: 2rem 0.5rem 2rem 4rem;
  }
  article {
    padding: .5rem 0;
    margin: 2rem 4rem 2rem 2rem;
    p {
      color: $main-color;
      line-height: 18px;
    }
    .social-share {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-top: 0.5rem;
      .fb-share-button { 
        padding: 0 1rem 0 0;
      }
    }
  }
}

// NEWSLETTER SIGNUP

.newsletter-container {
  background-color: $main-color;
  text-align: center;
  padding: 3rem 0;
  h2 {
    color: $no-color;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    letter-spacing: 1px;
  }
  .sign-up {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    h3 {
    color: $accent-color;
    font-size: 1rem;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    }
  }
}

.newsletter-container input[type=email] {
  font-family: $secondary-font;
  color: darkgrey;
  font-size: 0.85rem;
  border: none;
  padding: 0.25rem 12rem 0.25rem 0.25rem;
}

.submit-button {
  border: none;
  margin-left: -50px;
  background-color: $accent-color;
  color: $highlight-color;
  padding: 0.30rem 2rem;
  font-size: 0.75rem;
  letter-spacing: 1px;
}

// FOOTER

footer {
  background-color: $no-color;
  .footer-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: $no-color;
  margin: 1rem 4rem;
    .find {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      h3 {
        display: flex; 
        color: $main-color;
        font-size: 1.25rem;
        font-weight: bolder;
        padding: 1rem 0 0.5rem 0;
      }
      .find-bold {
        color: $accent-color;
        font-weight: bolder;
        font-size: 0.85rem;
        padding: 0.25rem 0 0.25rem 0;
      }
      p {
        color: $main-color;
        font-weight: bolder;
        font-size: 0.95rem;
        line-height: 18px;
      }
    }
    .social {
      display: flex;
      flex-direction: column;
//      justify-content: center;
      align-items: center;
      padding: 1rem;
      width: 40%;
      h3 {
        display: flex; 
        color: $main-color;
        font-size: 1.25rem;
        font-weight: bolder;
        padding: 1rem 0 0.5rem 0;
      }
      .social-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0.25rem;
        a {
          color: $main-color;
          padding: 0.25rem;
          &:hover {
            color: $accent-color;
          }
        }
      }
    }
    .connect {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      h3 {
        color: $main-color;
        font-size: 1.25rem;
        font-weight: bolder;
        padding: 1rem 0 0.5rem 0;
      }
      .connect-info {
        display: flex;
        flex-direction: column;
        .connect-bold {
          color: $accent-color;
          font-weight: bolder;
          font-size: 0.85rem;
          padding: 0.25rem 0 0.25rem 0;
        }
        p {
          color: $main-color;
          font-weight: bolder;
          font-size: 1rem;
          padding-bottom: 0.75rem;
        }
      }
    }
  }
}

.copyright {
  background-color: $highlight-color;
  text-align: center;
  padding: 0.75rem;
  p {
    font-size: 0.75rem;
    color: $main-color;
  }
}