// VARIABLES

$main-color: #062a5c;
$accent-color: #75a2d8;
$highlight-color: #ECECEC;
$no-color: #FFFFFF;
$main-font: 'Raleway', sans-serif;
$secondary-font: 'Lato', sans-serif;


// MIXINS

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column; 
}


/* TABLE OF CONTENTS
    1. GLOBAL STYLES 
    2. SEARCH BAR
    3. NAV BAR
    4. HERO
    5. CARDS
    6. NEWS SECTION
    7. MISSION SECTION & VIDEO
    8. NEWSLETTER SIGNUP
    9. FOOTER
    10. RESEARCH PAGE
    11. EDUCATION PAGE
    12. ENERGY-INDUSTRY PAGE
    13. CONTACT PAGE
*/


// 1. GLOBAL STYLES

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: $main-font;
}

article {
  background-color: $highlight-color;
}

h1 {
  font-size: 1.75rem;
  font-family: $main-font;
}

img {
  max-width: 100%;
}

.inner-header {
  background-color: $main-color;
  text-align: center;
  font-size: 1.5rem; 
  color: $no-color;
  letter-spacing: 1px;
  padding: 2rem 0;
}

.main-text {
  color: $main-color;
  font-size: 1rem;
  line-height: 20px;
  padding: 3rem 4rem 3rem 4rem;  
}

@media screen and (max-width: 690px) {
  .main-text {
    padding: 2rem;
  }
}


// 2. SEARCH BAR

.search-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: $highlight-color;
  .search-box {
    @include flex-row;
    align-items: center;
    padding: 0.5rem 6rem 0.5rem 0;
    .search-form {
      border-radius: 5px;
    }
  }
}

.search-box input[type=text] {
  font-family: $secondary-font;
  font-color: darkgrey;
  font-size: 0.85rem;
  border: none;
  padding: 0.25rem;
  border-radius: 8px;
}

//TO DO: position inside search box
.fa-search {
//  position: absolute;
  color: darkgrey;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 790px) {
  .search-container {
    display: flex;
    justify-content: center;
    .search-box {
      padding: 0.5rem 0.25rem;
    }
  }
}


// 3. NAV BAR

.logo-container {
  display: flex;
  align-items: center;
  width: 75%;
  .logo {
    margin: 0.30rem 0;
    padding: 0.75rem 0;
  }
}

nav {
  width: auto;
  display: flex;
  flex-flow: row-wrap;
  align-items: center;
  margin: 0 4rem 0 3.25rem;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  li {
    padding: 1.5rem;
    text-align: center;
    list-style-type: none;
    a {
      text-decoration: none;
      color: $main-color;
      font-family: $secondary-font;
      font-weight: bold;
      letter-spacing: 0.75px;
      &:hover {
        color: $accent-color;
      }
    }
  }
}

@media screen and (max-width: 790px) {
  nav, nav ul {
    @include flex-column;
    justify-content: center;
  }
  .logo-container {
    width: 100%;
    justify-content: center;
  }
}


// 4. HERO

.hero-image {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url("../images/solar.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .hero-overlay {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30vh;
    background-color: $main-color;
    opacity: 0.90;
    .hero-text {
      @include flex-column;
      margin: 0 4rem;
      h1 {
        margin-top: 0.75rem;
        padding-bottom: 1.25rem;
        color: $no-color;
      }
      h2 {
        color: $accent-color;
        font-size: 1.25rem;
        font-weight: bolder;
        font-style: italic;
        letter-spacing: 1px;
      }
      p {
        color: $highlight-color;
        font-size: 0.92rem;
        line-height: 20px;
        padding-top: 0.5rem;
        letter-spacing: 0.5px;
      }
    }
  }
}

@media screen and (max-width: 690px) {
  .hero-image {
    height: 90vh;
    .hero-overlay {
      height: auto;
      .hero-text {
        margin: 1rem 1.65rem;
        h1 {
         font-size: 1.75rem; 
        }
        h2 {
         font-size: 1.15rem;  
        }
        p {
          font-size: 0.95rem;
        }
      }
    }
  }
}


// 5. CARDS

.card-container {
  display: flex;
  flex-flow: wrap;
  align-items: stretch;
  justify-content: center;
  margin: 5rem 4rem;
}

.card {
  flex: 1;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
  padding: 0.5rem;
  margin: 0.75rem;
  background-color: $no-color;
  &:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  a {
    color: $main-color;
    font-size: 1.15rem;
    font-weight: bolder;
    letter-spacing: 1px;
    text-decoration: none;
    font-display: $main-font;
    &:hover {
      color: $accent-color;
    }
  }
  h3 {
    text-align: center;
    padding: 0.5rem;
    font-weight: bolder;
    color: $main-color;
  }
  p {
    color: $main-color;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.95rem;
  }
  img {
    justify-content: center;
  }
}

@media screen and (max-width: 740px) {
  .card-container {
    margin: 1rem;
    .card {
      flex-basis: initial;
      img {
        width: 100%;
      }
    }
  }  
}

@media screen and (min-width: 1140px) {
  .card-container {
    margin: 5rem 4rem;
    .card {
      flex-grow: 2;
      img {
        width: 100%;
      }
    }
  }  
}

// 6. NEWS SECTION

.news {
  background-color: $main-color;
  @include flex-row;
  align-items: flex-start;
  padding: 5rem 4rem;
  .news-info {
    @include flex-column;
    flex-basis: 50%;
    background-color: $main-color;
    h2 {
      color: $highlight-color;
      font-size: 1.5rem;
      font-weight: bolder;
      letter-spacing: 1px;
    }
    p { 
      margin-top: 0.75rem;
      color: $no-color;
      line-height: 18px;
    }
  }
  .news-events {
    @include flex-column;
    flex-basis: 50%;
    background-color: $main-color;
    padding-left: 4rem;
    h2 {
      color: $highlight-color;
      font-size: 1.5rem;
      font-weight: bolder;
      letter-spacing: 1px;
    }
    .events-container {
//      width: 95%;
      .date-box {
        @include flex-row;
        align-items: center;
        background-color: $highlight-color;
        margin: 0.25rem 0 0.45rem 0;
        &:first-child {
          margin-top: 0.75rem;
          }
        .date {
          width: 15%;
          background-color: $accent-color;
          color: $no-color;
          font-size: 1rem;
          padding: 0.5rem;
          }
        p {
          font-size: 1rem;
          padding: 0.5rem 0 0.5rem 2rem;
        }
      } 
    }
  }
}

@media screen and (max-width: 690px) {
  .news {
    flex-direction: column;
    padding: 1.5rem 2rem;
    .news-info {
      padding: 0 0 1.5rem 0;
    }
    .news-events {
      padding-left: 0;
    }
  }
}


// 7. MISSION SECTION & VIDEO

.mission {
  @include flex-row;
  align-items: center;
  background-color: $highlight-color;
  margin: 5rem 4rem;
  article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 4rem;
    h2 {
      color: $main-color;
      font-size: 1.5rem;
      font-weight: bolder;
      letter-spacing: 1px;
    }
    .mission-main {
      margin-top: 0.75rem;
      color: $main-color;
      font-size: 0.95rem;
      line-height: 18px;
      padding-bottom: 2px;
    }
    p {
      color: $main-color;
      font-size: 0.85rem;
      line-height: 16px;
      padding: 3px 0;
    }
    .social-share {
      @include flex-row;
      align-items: center;
      padding-top: 0.5rem;
      .fb-share-button { 
        padding: 0 0.5rem 0 0;
      }
    }
  }
}


@media screen and (max-width: 1170px){
    .mission {
    flex-direction: column;
    margin: 3rem 4rem;
    .video-container {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      margin: 1rem 0 2rem 0;
    }
    article {
      padding-left: 0;
    }
  }
}

@media screen and (max-width: 690px){
    .mission {
    flex-direction: column;
    margin: 1.5rem 2rem;
    .video-container {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      margin: 1rem;
    }
    article {
      padding-left: 0;
    }
  }
}


// 8. NEWSLETTER SIGNUP

.newsletter-container {
  background-color: $main-color;
  text-align: center;
  padding: 5rem 4rem;
  h2 {
    color: $no-color;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    letter-spacing: 1px;
  }
  .sign-up {
    @include flex-row;
    align-items: baseline;
    justify-content: center;
    h3 {
    color: $accent-color;
    font-size: 1rem;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    }
  }
}

.newsletter-container input[type=email] {
  font-family: $secondary-font;
  color: darkgrey;
  font-size: 0.85rem;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 16rem 0.5rem 0.5rem;
}

.submit-btn {
  border: none;
  margin-left: 5px;
  background-color: $accent-color;
  color: $no-color;
  padding: 0.5rem 2rem;
  font-size: 0.75rem;
  letter-spacing: 1px;
  border-radius: 3px;
}

@media screen and (max-width: 940px) {
  .newsletter-container {
    @include flex-column;
    padding: 2rem 1rem;
    .sign-up {
      @include flex-column;
      align-items: center;
    }
  }
  .newsletter-container input[type=email] {
    @include flex-column;
    margin: 0.5rem 0;
    padding: 0.5rem 12rem 0.5rem 0.5rem;
  }
  .submit-btn {
    padding: 1.5rem 0.75rem;
//    margin: 0.5rem;
  }
}

@media screen and (max-width: 940px) {
  .newsletter-container input[type=email] {
    padding: 0.25rem 6rem 0.25rem 0.25rem;
  }
  .submit-button {
    padding: 0.25rem 1rem;
  }
}

// 9. FOOTER

footer {
  background-color: $no-color;
  .footer-top {
  @include flex-row;
  justify-content: center;
  align-items: flex-start;
  background-color: $no-color;
  margin: 2rem 4rem;
    .find {
      @include flex-column;
      padding: 1rem;
      h3 {
        display: flex; 
        color: $main-color;
        font-size: 1.25rem;
        font-weight: bolder;
        padding: 1rem 0 0.5rem 0;
      }
      .find-bold {
        color: $accent-color;
        font-weight: bolder;
        font-size: 0.85rem;
        padding: 0.25rem 0 0.25rem 0;
      }
      p {
        color: $main-color;
        font-weight: bolder;
        font-size: 0.95rem;
        line-height: 18px;
      }
    }
    .social {
      @include flex-column;
      align-items: center;
      padding: 1rem;
      width: 40%;
      h3 {
        display: flex; 
        color: $main-color;
        font-size: 1.25rem;
        font-weight: bolder;
        padding: 1rem 0 0.5rem 0;
      }
      .social-icons {
        @include flex-row;
        padding: 0.25rem 0.15rem;
        a {
          color: $main-color;
          padding: 0.25rem;
          &:hover {
            color: $accent-color;
          }
        }
      }
    }
    .connect {
      @include flex-column;
      padding: 1rem;
      h3 {
        color: $main-color;
        font-size: 1.25rem;
        font-weight: bolder;
        padding: 1rem 0 0.5rem 0;
      }
      .connect-info {
        @include flex-column;
        .connect-bold {
          color: $accent-color;
          font-weight: bolder;
          font-size: 0.85rem;
          padding: 0.25rem 0 0.25rem 0;
        }
        p {
          color: $main-color;
          font-weight: bolder;
          font-size: 1rem;
          padding-bottom: 0.75rem;
        }
      }
    }
  }
}

.copyright {
  background-color: $highlight-color;
  text-align: center;
  padding: 0.75rem;
  p {
    font-size: 0.75rem;
    color: $main-color;
  }
}

@media screen and (max-width: 690px) {
  footer {
    @include flex-column;
    margin: 0;
    .footer-top {
      @include flex-column;
      padding: -1rem;
      align-items: center;
      .find, .social, .connect {
        @include flex-column;
        align-items: flex-start;
        width: 100%;
      }
    }
  }
}


//////////////// 10. RESEARCH PAGE ////////////////


.chart-containter {
  @include flex-column;
  align-items: center;
  padding: 0 0 4rem 0;
  .chart {
    padding: 0 1rem 1rem 1rem;
  }
}


//////////////// 11. EDUCATION PAGE ////////////////


.universities {
  padding: 0 0 4rem 0;
  background-color: $main-color;
  .universities-header {
    text-align: center;
    font-size: 1.25rem; 
    color: $no-color;
    letter-spacing: 1px;
    padding: 2rem 0;
    }
  .universities-container {
    @include flex-row;
    margin: 0.5rem;
    align-content: space-between;
    justify-content: center;
    .universities-logos {
      flex: 1;
      display: flex;
      flex-direction: row-wrap;
      align-content: space-between;
      padding: 0.5rem 1rem;
      background-color: $highlight-color;
      margin: 1rem;
      border-radius: 4px;
      img {
        padding: 0.5rem 1rem;
        background-color: $highlight-color;
        margin: 1rem;
        border-radius: 4px;
      }
    }
  }
}



//////////////// 12. ENERGY-INDUSTRY PAGE ////////////////


.industry-grid {
  @include flex-row;
  .container {
    position: relative;
    width: 50%;
    .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform:scale(0);
    transition: .3s ease;
    }
    p {
      color: $no-color;
      font-size: 1.25rem;
      letter-spacing: 1px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }
  }
}

.container:hover .overlay {
  transform: scale(1)
}

@media screen and (max-width: 690px) {
  .industry-grid {
    @include flex-column;
    align-items: center;
    .container {
      width: 100%;
    }
  }
}
  
//////////////// 13. CONTACT PAGE ////////////////


.contact-container {
  @include flex-row;
  align-items: flex-start;
  background-color: $highlight-color;
  padding: 2rem 4rem 3rem 4rem;
}

.contact-left {
  @include flex-column;
  margin: 2rem 1rem;
  width: 50%;
  h3 {
    color: $accent-color;
    font-size: 1.25rem;
    font-weight: bolder;
    padding-bottom: 0.5rem;
    letter-spacing: 1px;
  }
  h4 {
    margin-top: 1rem;
    color: $main-color;
    font-size: 1.15rem;
    font-weight: bolder;
    padding-bottom: .25rem;
  }
  .contact-bold {
    color: $main-color;
    font-size: 1rem;
    font-weight: bolder;
    line-height: 18px;
  }
  p {
    color: $main-color;
    font-size: 0.95rem;
    line-height: 18px;
    padding-top: 3px;    
  }
  address {
    color: $main-color;
    font-size: 0.95rem;
    line-height: 22px;
    padding-bottom: 0.25rem;
    i {
      color: $accent-color;
      padding-right: 5px;
    }
    a {
      color: $main-color;
      text-decoration: none;
      &:hover {
        color: $accent-color;
      }
    }
   }
  .google-maps {
    width: 75%;
    position: relative;
    padding-bottom: 75%; // aspect ratio
    height: 0;
    overflow: hidden;
    margin-top: .5rem;
    .google-maps iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100% !important;
      height: 100% !important;
    }
  } 
}



.contact-right {
  display: flex;
  flex-direction: column; 
  width: 50%;
  margin: 2rem 1rem;
  h3 {
    color: $accent-color;
    font-size: 1.25rem;
    font-weight: bolder;
    padding-bottom: 0.5rem;
    letter-spacing: 1px;
  }
  .contact-form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    input[type=text], input[type=tel], input[type=email] {
      font-family: $secondary-font;
      color: darkgrey;
      font-size: 0.85rem;
      width: 100%;
      padding: 1rem 12rem 1rem 1.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    } 
    textarea {
      font-family: $secondary-font;
      color: darkgrey;
      font-size: 0.85rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 100%;
      padding: 1rem 12rem 10rem 1.5rem;
      resize: vertical;
    }
    .form-btn {
      border: none;
      background-color: $accent-color;
      color: $no-color;
      text-align: center;
      padding: 0.5rem 1rem;
      font-size: 0.75rem;
      letter-spacing: 1px;
      border-radius: 3px;
      margin-top: 1.25rem;
      margin-bottom: 1rem;
      width: 25%;
    }
  }
}    
  

@media screen and (max-width: 940px) {
  .contact-container {
    @include flex-column;
    .contact-left {
      width: 100%;
    }
    .contact-right {
      width: 100%;
    }
  }
}


